/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 30px;
}

/* General styles */
.homepage {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;


  &__nav {
    background: #333;
    border-radius: 0;
    padding: 20px;
  }

  &__nav-container {
    max-width: 70%;
    width: 100%;
    margin-inline: auto;
  }

  &__nav-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
  }
}

.bio {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 0 10px;
  }

  &__content-section {
    grid-column: 2/4;
    grid-row: 1;
  }

  &__social-section {
    grid-column: 2/4;
    grid-row: 2;
    display: flex;
    gap: 20px;
  }

  &__image-section {
    grid-row: 1/3;
  }

  &__image {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: purple;
    border-radius: 50%;

    i {
      color: white;
    }
  }
}

.posts {
  margin-top: 20px;

  &__post {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
  }

  &__link {
    text-decoration: none;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 0;
}
